extends layout

block content
  div(class="formDiv")
    h1= title
   
    form(action="", method="post" class="mainForm") 
      label(for="username") #[strong Username:]
      input(type="email", name="username" value=(undefined===username ? "" : username))
      label(for="password") #[strong Password:]
      input(type="password", name="password")
      div(class="submitBtn-div")
        button(type="submit" class="submitBtn") Submit

      if errors
        ul
          for error in errors
            li!= error.msg