extends layout

block content
  div(class="formDiv")
    h1= title
    p= message

    form(action="", method="post" class="mainForm") 
      label(for="code") #[strong Code:]
      input(type="password", name="code")
      div(class="submitBtn-div")
        button(type="submit" class="submitBtn") Submit

      if errors
        ul
        for error in errors
          li!= error.msg