@import url(./modern-normalize.css);

.formDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 25rem;
}

input {
    margin-bottom: 1rem;
}

textarea {
    margin-bottom: 1rem;
}

ul {
    padding-left: 20px;
}

.submitBtn-div {
    display: flex;
    justify-content: center;
}

.submitBtn {
    padding: 0.25em 1em;
}
